*{
    font-family: 'Montserrat', sans-serif;
}
.orange{
    background-color: orange;
    height: 100px;
}
.green{
    background-color: green;
    height: 100px;
}
.blue{
    background-color: navy;
    height: 100px;
}
.red{
    background-color: red;
    height: 100px;
}


header .full-container {
    background-color: teal;
}
/* ==HEADER*/
.titolo {
    line-height: 200px;
    text-align: center;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}


.ciao, .nome, .studente {
    margin-top: 20px;
    text-align: center;
    line-height:100px;
    font-size: 20px;
    color: #ffffff;
}
